{{# link-to 'page.edit' }}
    <div class={{concat 'page-entry' (if selected ' selected')}} {{action 'click'}}>
        {{ fa-icon 'file' }}
        <span>{{ page.title }}</span>
        <span class="functions">
            {{ fa-icon 'comment'
                click=(action 'addContent')
                class="clickable"
            }}
            {{ fa-icon 'file'
                click=(action 'addPage')
                class="clickable"
            }}
            {{ fa-icon 'minus-circle'
                click=(action 'removePage')
                class="clickable text-danger"
            }}
        </span>
    </div>
{{/link-to }}
{{#each page.pages as |page| }}
    {{ page-entry model=page }}
{{/each }}
{{#each page.contents as |content| }}
    {{ content-entry model=content}}
{{/each }}
