{{# link-to 'page.edit' }}
    <div class={{concat 'page-entry' (if selected ' selected')}} {{action 'click'}}>
        {{ fa-icon 'file' }}
        <span>{{ page.title }}</span>
    </div>
{{/link-to }}
{{#each page.pages as |page| }}
    {{ page-entry model=page }}
{{/each }}
{{#each page.contents as |content| }}
    {{ content-entry model=content }}
{{/each }}
