<div class={{concat 'page-entry' (if selected ' selected')}}>
    {{ fa-icon 'file' }}
    <span>{{ page.title }}</span>
</div>
{{#each page.pages as |page| }}
    {{ page-entry model=page }}
{{/each }}
{{#each page.contents as |content| }}
    {{ content-entry model=content }}
{{/each }}
