{{# link-to 'project.edit' }}
    <div class={{concat 'project-entry' (if selected ' selected')}}
        {{ action 'click' }}>
        {{ fa-icon 'book' }}
        <span>{{project.name}}</span>
        <span class="functions">
            {{ fa-icon "download"
                 click=(action 'exportProject')
                 class="clickable"
            }}
        </span>
    </div>
{{/link-to }}
{{#each project.pages as |page| }}
    {{ page-entry model=page }}
{{/each }}

