{{# link-to 'project.edit' }}
    <div class={{concat 'project-entry' (if selected ' selected')}}
        {{ action 'click' }}>
        {{ fa-icon 'book' }}
        <span>{{project.name}}</span>
        <span class="functions">
            {{# link-to 'page.edit' }}
            {{ fa-icon 'file'
                class="clickable"
                click=(action 'addPage')
                title=(t 'Add page')
            }}
            {{/ link-to }}
            {{ fa-icon "download"
                 click=(action 'exportProject')
                 class="clickable"
            }}
            {{ fa-icon "minus-circle"
                 click=(action 'deleteProject')
                 class="clickable text-danger"
            }}
        </span>
    </div>
{{/link-to }}
{{#each project.pages as |page| }}
    {{ page-entry model=page}}
{{/each }}

