<div class="menu-bar route">{{ t 'Modify page' }}</div>
<div class="content">
    {{#if page }}
        <form>
            <div class="form-group">
                <label>{{ t 'Page title' }}</label>
                {{ input class="form-control" value=page.title }}
            </div>
            <div class="form-group">
                <label>{{ t 'Page template' }}</label>
                {{ textarea class="form-control" value=page.template rows="10"}}
            </div>
        </form>
    {{ else }}
        <p>{{ t 'Please select a page to edit it.'}}</p>
    {{/if}}
</div>
