<div class="menu-bar route">{{ t 'Modify page' }}</div>
<div class="content">
    {{#if page }}
        <form>
            {{ template-editor template=page.template }}
            {{ form-input title="Page title" value=page.title }}
        </form>
    {{ else }}
        <p>{{ t 'Please select a page to edit it.'}}</p>
    {{/if}}
</div>
