<div class="menu-bar route">{{ t 'Modify content' }}</div>
<div class="content">
    {{#if contentModel }}
        <form>
            {{ template-editor template=contentModel.template }}
            {{ form-input title="Title" value=contentModel.title }}
            {{ form-textarea title="Content" value=contentModel.content rows=10}}
        </form>
    {{ else }}
        <p>{{ t 'Please select a content to edit it.'}}</p>
    {{/if}}
</div>
