<div class="container-fluid">
    <div class="row">
        <div class="input-area col-md form-group">
            <label for="layoutInput">Layout</label>
            {{input id="layoutInput" type="textarea" class="form-control" rows="6" value=model.template }}
            <label for="data">Data</label>
            {{input id="data" type="textarea" class="form-control" rows="6" value=model.data }}
        </div>
        <div class="conversion-area col-md-2 align-self-center">
            <button class="btn btn-primary" {{action "compile"}}>Compile</button>
        </div>
        <div class="output-area col-md form-group">
            <div class="row">
                <div class="col-12">
                <label for="output">Output</label>
                    <div id="output" class="output form-control">
{{ log model.output }}
                        {{ model.output }}
                    </div>
                <button class="align-self-center btn btn-default" {{action "download"}}>Download</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{outlet}}
